@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
:root {
  --white: #FCFCFC;
  --charcoal: #2d2d2d;
  /* ...all your other variables... */
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: var(--white);
  color: var(--charcoal);
  /* ...etc... */
}
* {
  box-sizing: border-box;
}
.appContainer {
  display: grid;
  grid-template-columns: 1fr; /* 1-column layout for ALL screens */
  width: 100%;
}
.sidebar {
  display: none; /* Sidebar is always hidden */
}
.mainContent {
  width: 100%;
  padding: 0; 
}